/* CSS Document */

.grid-container {
  display: grid;
  height: 250px;
  align-content: center;
  border-style: dashed;
  background-color: Blue;
  display: inline-grid;
}

.grid-item {
	color: white;
}