/* CSS Document */

body {
    background-color: #e6e6fa;
    margin: auto;
}

h1{
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: 80px 200px;
  }
  
  .page-grid {
    display: grid;
  }
  
  .nav-bar-grid {
    display: grid;
  }