body {
  background: #e6e6fa;
  margin: auto;
}

h2{
    align-content: center;
}

iframe{
  width: 1280px;
  height: 720px;
}

.grid-container {
    display: grid;
    grid-template-columns: 80px 200px;
  }
  
  .page-grid {
    display: grid;
  }
  
  .nav-bar-grid {
    display: grid;
  }

